<p>
Hi; 
</p>
<p>
New ticket has been created by <strong><%= @user.name %></strong>.
</p>
<br>
<br>
<strong>Ticket Details:</strong>
<br>
<p style="white-space:pre-wrap">
  <%= @ticket.title %>
</p>
<br>
<br>
<br>
<p>
Please, check it now
</p>
<br>
<br>
<br>
<%= Rails.application.secrets.app_name %><br>
İstanbul, Türkiye
</p>