<div id="tickets_index_page" class="row-fluid">

  <%= page_header_helper(t("tickets.defaults.page_header"), new_ticket_path, t("tickets.defaults.new_record_label")) %>
  <%= page_intro_helper(t("tickets.defaults.intro_message")) %>

  <%= sub_header_with_search_form(t("tickets.defaults.last_records_title"), "tickets") %>

  <div id="tickets_list" class="row-fluid">
    <%= render partial: "helpdesk/tickets/list", locals: { objects: @tickets, is_paginated: false } %>
  </div>

</div>
<script type="text/javascript">
  document.getElementById('ticketnavigator').classList.add('active');
</script>
