<div id="tickets_index" class="row">

  <%= render "shared/page_title", page_title: "Talepler", page_small_title: "Ekip arkadaşlarınızdan gelen sistem talepleri", model_name: "tickets", model_path: "helpdesk/tickets" %>

  <div class="row inbox">
    <div class="col-md-2">
      <ul class="inbox-nav margin-bottom-10">
        <li class="compose-btn">
          <%= link_to helpdesk.new_ticket_path, class: "btn green" do %>
            <i class="icon-edit"></i> Yeni Talep
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="inbox-header">
        <h1 class="pull-left">Talepler <small>En son eklenen talepler</small></h1>
        <%= render "shared/quick_search_form", model_name: "tickets" %>
      </div>

      <div class="inbox-content" id="tickets_list">
        <%= render "helpdesk/tickets/list", objects: @tickets %>
      </div>
    </div>
  </div>
</div>